<!DOCTYPE html>
<html>
<head>
    <title>Google Maps API</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        h1 {
            text-align: center;
        }
        #locationTable{
            margin-left: auto;
            margin-right: auto;
        }
        #locationTable th,
        #locationTable td {
            padding-left: 6px;
            padding-right: 6px; 
        }
    </style>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div id="map"></div>
    <!-- <script>
        function initMap() {
            var locations = JSON.parse('{{ locations|safe }}');

            var myLatLng = {lat: 37.7749, lng: -122.4194};  // Set the initial coordinates here
            var map = new google.maps.Map(document.getElementById('map'), {
                center: locations[0],
                zoom: 8
            });
            for(var i = 0; i < locations.length; i++){
                var marker = new google.maps.Marker({
                position: locations[i],
                map: map,
                title: 'Location ' + i.toString()
                });
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script> -->
    <br>
    <h1>Locaitons</h1>
    <table id="locationTable">
        <thead>
            <tr>
                <th>Lat</th>
                <th>Long</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        var locations = JSON.parse('{{ locations|safe }}');
        var tableBody = document.querySelector('#locationTable tbody');

        locations.forEach(loc => {
            var lat = loc.lat;
            var lng = loc.lng;
            console.log(typeof lat)
            var row = document.createElement('tr');

            var latCell = document.createElement('td');
            latCell.textContent = lat.toFixed(2);
            row.appendChild(latCell);

            var lngCell = document.createElement('td');
            lngCell.textContent = lng.toFixed(2);
            row.appendChild(lngCell);

            tableBody.appendChild(row);
        });
    </script>
</body>
</html>